.account {
    margin-bottom: 3rem;
}

.account h4 {
    margin: 0;
    margin-right: 4rem;
}

.account i {
    font-size: 1.5rem;
    cursor: pointer;
}

.app {
    width: 15rem;
    height: 20rem;
    padding: 2rem;
    margin-top: 3rem;
    color: #fff;
    font-size: 1.5rem;
    background-image: url(../../../assets/images/Large-Triangles.svg);
    border: 5px solid #fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.app span {
    display: block;
    margin-top: 1rem;
}